{% extends "base.html" %}

{% block title %}FAQ - canalcook.com{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h3 class="narda-orange">FAQ</h3>
<br/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <h4 class="panel-title">
          Who are the cooks?
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
Cooks are locals that love to cook, have spare seats and can offer you a meal.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <h4 class="panel-title">
Is it safe to enter their houses?
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
Cooks at canalcook.com are carefully selected from people we know and trust. We are expanding out network by referrals of these people, and all the kitchens are checked in person by our team before they become a part of our database. So yes, using canalcook.com is very safe.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <h4 class="panel-title">
Do you charge for your service?
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
We charge a small advance payment of three euros, as a way to confirm you reservation. At the kitchen, you will pay what you consume minus three euros.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
      <h4 class="panel-title">
How do I pay?
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
You pay by credit card, information is collected by Stripe. See <a href="//stripe.com">stripe.com</a>.
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
