{% extends "base.html" %}

{% block title %}How it works - canalcook.com{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="narda-orange">How it works</h3>

    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#find_meal" role="tab" data-toggle="tab">How to find a meal</a></li>
      <li><a href="#offer_meal" role="tab" data-toggle="tab">How to offer your meals</a></li>
    </ul>
    <br/>

    <div class="tab-content">
      <div class="tab-pane active" id="find_meal">
        <h4 class="narda-orange"><span class="glyphicon glyphicon-search narda-blue"></span> &nbsp; Find your meal</h4>
        <p>
Make a search, browse through the options, select the desired one.
        <br/>
        <br/>
        </p>

        <h4 class="narda-orange"><span class="glyphicon glyphicon-log-in narda-blue"></span> &nbsp; Log in if you haven't</h4>
        <p>
If you haven't logged in yet, you will be asked to do so, with your Facebook account. We don't ask for much information, this is just to validate your identity.
        <br/>
        <br/>
        </p>

        <h4 class="narda-orange"><span class="glyphicon glyphicon-check narda-blue"></span> &nbsp; Confirm your reservation</h4>
        <p>
We charge 3 euros by credit card as a way to confirm the booking. But it is not a reservation fee as you are already paying for your meal. For example, if your final bill is 20 euros, you will only have to pay 17 at the kitchen. At the moment only cash is accepted at the kitchen.
        <br/>
        <br/>
        </p>

        <h4 class="narda-orange"><span class="glyphicon glyphicon-cutlery narda-blue"></span> &nbsp; Enjoy it</h4>
        <p>
Once you book, you receive a confirmation email, with all the relevant information for your meal, including the exact kitchen address and the cook contact details. Enjoy your meal!
        <br/>
        <br/>
        </p>
      </div>

      <div class="tab-pane" id="offer_meal">
      <p>
      Just send us an email to <a href="mailto:cooks@haveachef.com">cooks@haveachef.com</a> and we will call you back. This is due to the extra care we want to have with our chefs to maintain the quality of our site.
      <br/>
      <br/>
      For now we are offering the service only in Amsterdam, The Netherlands. More cities coming soon!
      </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
