{% extends "base.html" %}

{% block title %}How it works - Narda{% endblock %}

{% block content %}
<div class="middle">
    <div class="container">
    <h3 class="narda-orange">How it works</h3>

    <p>
<span class="narda-orange">For guests</span>: On Narda's homepage, make a search filtering by the desired date and place. Browse through the options, select one and book it.
If you haven't logged in yet, you will be asked to do so, with your Facebook account. We don't ask for much information, this is just to validate your identity.
    <br/>
    <br/>
Once you book, you receive a confirmation email, with all the relevant information for your meal, including chef contact details. Then you can optionally get in contact with the chef. 

    <br/>
    <br/>

    <p>
<span class="narda-orange">For chefs</span>: Just send us an email to <a href="mailto:chefs@haveachef.com">chefs@haveachef.com</a> and we will call you back. This is due to the extra care we want to have with our chefs to maintain the quality of our site.
    <br/>
    <br/>
For now we are offering the service only in Amsterdam, The Netherlands. More cities coming soon!

    <br/>
    <br/>
Enjoy your meal!
    <br/>
    <br/>
Narda's Team
    </p>
    </div>
</div>
{% endblock %}
