{% extends "base.html" %}

{% block title %}Pricing - Narda{% endblock %}

{% block content %}
<div class="middle">
    <div class="container">
    <h3 class="narda-orange">Pricing</h3>
    <br/>
    <p class="lead">
Narda is for now, completely free. as in free breakfast. However, since we do have expenses to cover we will soon be charging a small reservation fee to our guests. But, this cost will be deducted from the meal price, so the final price will not change.
    </p>
    </div>
</div>
{% endblock %}
