{% extends "base.html" %}

{% block title %}Why - canalcook.com{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="narda-orange">Why canalcook.com</h3>
    <p>
Paying a fortune for a ham and cheese sandwich?
Wasting precious vacation time in a restaurant queue?
Overspending just because you can't find alternatives?
You are not the only one. Those are problems we've also faced and that's why we came up with canalcook.com.
    <br/>
    <br/>
While we are struggling with that, in the same place, plenty of local people are having meals at their houses, willing to have us as guests.
And what a great chance to jump out of the traditional tourist loop and get to know the real culture from the place you are in!
    <br/>
    <br/>
Eating well for a decent price is not that hard anymore. Start your canalcook.com experience <a href="/">here</a>.
    </p>
  </div>
</div>
{% endblock %}
