{% extends "base.html" %}

{% block title %}Why - Narda{% endblock %}

{% block content %}
<div class="middle">
    <div class="container">
    <h3 class="narda-orange">Why Narda</h3>
    </br>
    <p class="lead">
Restaurants in touristic places are abusively expensive. And not necessarily good. Meal from cheaper places is usually of very bad quality. So people who don't know the city where they are are forced to either spend a lot of money or eat junk food.
<br/>
At the same time, plenty of people is having meals at their home, with much lower costs. And would probably be delighted to have some guests for eating. So that is the alternative we are offering here; home made food, for a reasonable price and the possibility to know interesting people.
    </p>
    </div>
</div>
{% endblock %}
