{% extends "base.html" %}

{% block title %}{{meal.kitchen.name}}{% endblock %}

{% block content %}
    <h3 class="narda-orange">Your payment has been confirmed! You will be having a meal at "{{meal.kitchen.name}}".</h3>
    <p>
    <br/>
    {{meal.kitchen.user.first_name}} {{meal.kitchen.chef.first_name}} will be waiting for you on
    {{meal.kitchen.address}} at {{meal.scheduled_for}} As a reference, your meal number is "{{meal.number}}".
    <br/>
    Feel free to contact {{meal.kitchen.chef.name}} by email at {{meal.kitchen.chef.email}}.
    <br/>
    An email will be sent to {{user.email}} with this, and further information about your booking.
    <br/>
    Cheers!
    <br/>
    <br/>
    Canal Cook Team
    </p>
{% endblock %}
