
    <!-- Modal -->
    <div class="modal fade" id="meal_confirmation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form method="post" action="{% url "book"%}" id="meal_form" class="form">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title narda-orange" id="myModalLabel">Meal Details</h3>
          </div>

          <div class="modal-body">
            <span class="lead">
                This meal will take place on {{meal.scheduled_for}} at {{meal.kitchen.name}} ({{meal.kitchen.address}})
            </span>
            {% csrf_token %}
            <input type="hidden" name="meal_id" value="{{meal.id}}">
            <input type="hidden" name="number_of_guests" id="hidden_number_of_guests">
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary form-narda">Confirm Booking</button>
          </div>

        </div>
        </form>
      </div>
    </div>

    <script>
{% if number_of_guests %}
{# comes from facebook auth, number_of_guests comes from a GET variable #}

    $(document).ready(function() {
        $('#hidden_number_of_guests').val({{number_of_guests}});
        $('#meal_confirmation_modal').modal();
    });

{% else %}
{# was already authenticated, number_of_guests comes from the form on this page #}

    $('#meal_confirmation_modal').on('shown.bs.modal', function() {
        number_of_guests = $('#select_number_of_guests').val();
        $('#hidden_number_of_guests').val(number_of_guests);
    })

{% endif %}
    </script>
