{% extends "base.html" %}

{% block title %}Review your meal at {{kitchen.name}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      {% include "kitchen/kitchen_description.html" %}
    </div>
    <div class="col-md-6">
      <h2 class="narda-orange">
        Review Your Meal
      </h2>
      <form method="post" accept-charset="utf-8" role="form" class="form-horizontal">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="ratingWrapper form-group">
          {{ form.rating.errors }}
          <label for="{{ form.rating.id_for_label }}">How was your meal?</label>
        </div>
        <fieldset class="rating">
          <input type="radio" id="star5" name="{{ form.rating.name }}" value="5" {% if form.rating.value == "5" %} checked {% endif %} /><label for="star5" title="Rocks!">5 stars</label>
          <input type="radio" id="star4" name="{{ form.rating.name }}" value="4" {% if form.rating.value == "4" %} checked {% endif %}/><label for="star4" title="Pretty good">4 stars</label>
          <input type="radio" id="star3" name="{{ form.rating.name }}" value="3" {% if form.rating.value == "3" %} checked {% endif %}/><label for="star3" title="Meh">3 stars</label>
          <input type="radio" id="star2" name="{{ form.rating.name }}" value="2" {% if form.rating.value == "2" %} checked {% endif %}/><label for="star2" title="Kinda bad">2 stars</label>
          <input type="radio" id="star1" name="{{ form.rating.name }}" value="1" {% if form.rating.value == "1" %} checked {% endif %}/><label for="star1" title="Sucks big time">1 star</label>
        </div>
        <div class="reviewWrapper form-group">
          {{ form.review.errors }}
          <label for="{{ form.review.id_for_label }}">Any more feedback?</label>
          <textarea id="{{ form.review.id_for_label }}" name="{{ form.review.name }}" class="form-control-disabled" rows="3">{{ form.review.value}}</textarea>
        </div>
        <div class="submit-button">
          <input type="submit" name="submit" id="" value="Submit" />
        </div>
      </form>
    </div>
  </div>
  <style>

/* Rating stuff taken from http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/ */
.rating {
    float:left;
    font-family: FontAwesome;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
  content: "\f005";
}

.rating > input:checked ~ label {
  content: "\f006";
  color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
  </style>
{% endblock %}
