
<img src="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=200x200&maptype=roadmap&markers=color:orange%7Clabel:S%7C{{meal.kitchen.latitude}},{{meal.kitchen.longitude}}" data-toggle="modal" data-target="#kitchen_map_modal">

<div class="modal fade bs-example-modal-lg" id="kitchen_map_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Kitchen's Location</h4>
      </div>
      <div class="modal-body">
        <iframe width="800" height="600" frameborder="0" style="border:0" src="https://maps.google.com?saddr=Current+Location&output=embed&zoom=13&daddr={{meal.kitchen.latitude}},{{meal.kitchen.longitude}}"></iframe> 
      </div>
    </div>
  </div>
</div>


