{% load staticfiles %}
        <center>

        <h2 class="narda-orange">
        {{meal.kitchen.name}}
        </h2>
        <p class="text-center">{{meal.kitchen.summary}}</p>

        </center>

          <div>
            <h4>&nbsp;<span class="glyphicon glyphicon-time narda-blue"></span> {{meal.scheduled_for}}</h4>
            <h4>&nbsp;<span class="glyphicon glyphicon-map-marker narda-blue"></span> {{meal.kitchen.address}}</h4>
            <h4>&nbsp;<span class="glyphicon glyphicon-euro narda-blue"></span> {{meal.kitchen.dishes_from}} is starting dish price</h4>
            <h4>&nbsp;<span class="glyphicon glyphicon-user narda-blue"></span> Up to {{meal.kitchen.available_seats}} guests</h4>
          </div>
          <div>
          <center>
            <br/>
            {% include "meal/meal_book_button.html" %}
          </center>
          </div>

        <center>

        <h4 class="narda-orange">Menu</h4>
        {{meal.kitchen.menu | escape | linebreaks}}

        <h4 class="narda-orange">House Rules</h4>
        {{meal.kitchen.house_rules | escape | linebreaks}}

        <h4 class="narda-orange">Get Directions</h4>
        {% include "kitchen/kitchen_map.html" %}

        </center>
