        <img class="summary-image img-suqare img-responsive pull-right" alt="{{meal.kitchen.name}}" src="/static/pictures/kitchens/{{meal.kitchen.id}}/01.png" />
        <h3 class="narda-orange">
            {{meal.kitchen.name}}
        </h3>
        <p>{{meal.kitchen.summary}}</p>

        <h4 class="narda-orange">Menu</h4>
        <p>{{meal.kitchen.menu | escape | linebreaks}}</p>

        <h4 class="narda-orange">House Rules</h4>
        <p>{{meal.kitchen.house_rules | escape | linebreaks}}</p>
