{% load staticfiles %}
      <br />
      <center>
      <div id="slider">
        {% for i in image_number %}
          {% if i = 1 %}
          <img src="/static/pictures/kitchens/{{meal.kitchen.id}}/640x480/0{{i}}.png" data-src="" width="640" height="480"/>
          {% else %}
          <img data-src="/static/pictures/kitchens/{{meal.kitchen.id}}/640x480/0{{i}}.png" src="" width="640" height="480"/>
          {% endif %}
        {% endfor %}
      </div>
      </center>

<script>
var slider = new IdealImageSlider.Slider({
  selector: '#slider',
  height: 480,
  interval: 4000,
});
slider.start();
</script>
