{% load staticfiles %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <center>
      <h2 class="narda-orange">
        {{kitchen.name}}
      </h2>
      <p class="text-center">{{kitchen.summary}}</p>
    </center>
{% if meal %}
  {% include "meal/meal_summary.html" with meal=meal %}
{% endif %}

    <h4 class="narda-orange">Menu</h4>
    {{kitchen.menu | escape | linebreaks}}

    <h4 class="narda-orange">House Rules</h4>
    {{kitchen.house_rules | escape | linebreaks}}

    <center>
      <br/>
      <h4 class="narda-orange">Click map for directions</h4>
      {% include "kitchen/kitchen_map.html" %}
    </center>
  </div>
</div>
