        <br/>

        <div class="col-12 content">
            <div class="centered">
                <form class="form-inline" role="form" method="GET" action="" id="search_form">
                  <div class="form-group">
                      <label class="sr-only" for="where">Where</label>
                      <input type="text" id="where" class="form-control form-element-narda" placeholder="where" value="Amsterdam" readonly="readonly">
                    </div>
                  <div class="form-group">
                      <select class="form-control form-element-narda" id="number_of_guests" required="true" placeholder="Number of seats">
                        <option value="1" selected="true">1 Guest</option>
                        <option value="2">2 Guests</option>
                        <option value="3">3 Guests</option>
                        <option value="4">4 Guests</option>
                        <option value="5">5 Guests</option>
                        <option value="6">6 Guests</option>
                        <option value="7">7 Guests</option>
                        <option value="8">8 Guests</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label class="sr-only" for="datepicker">When</label>
                      <input type="text" id="datepicker" class="form-control form-element-narda" placeholder="When" required="true" value="{{ date }}">
                  </div>
                  <button type="submit" class="btn btn-primary form-element-narda">Go!</button>
                </form>
            </div>
        </div>

        <script>
        $(function() {
            var dateFormat = "d MM - DD";
            var $datePicker = $("#datepicker");
            $datePicker.datepicker({minDate: 0, maxDate: "+3M", dateFormat: dateFormat, gotoCurrent: true});
            // $datePicker.datepicker("option", "dateFormat", dateFormat);
            var selectedDate = new Date($("#datepicker").val());
            if (selectedDate) {
              $datePicker.datepicker("setDate", selectedDate);
            }
            $('#search_form').submit(function(e) {
                var selectedDate = $("#datepicker").datepicker("getDate");
                // prevent it from submitting directly
                e.preventDefault();
                // validate input 
                if (!validate_search_form()) {
                    return -1;
                }
                // format it for mysql
                scheduled_for = $.datepicker.formatDate("yy-mm-dd", selectedDate);
                number_of_guests = $('#number_of_guests').val();
                search_url = get_search_location(scheduled_for,number_of_guests);
                window.location = search_url;
            });

            function get_search_location(scheduled_for, number_of_guests) {
                search_url = '/search/date/' + scheduled_for + '/guests/' + number_of_guests;
                return search_url;
            }

            function validate_search_form() {
                // @todo show friendly messages on invalid form
                return $('#datepicker').val();
            }
        });
        </script>
