{% autoescape off %}
Howdy {{ meal.guest.get_full_name }}!

We would love to know how your meal went? Want to tell us about it?

Head to {% url 'post_guest_review' token=kitchen_review.token kitchen_slug=meal.kitchen.slug %} and fill in a simple form.

This would others considering eating there and the chef to know how he is handling everything.

Thanks!

HaveAChef.com Team,

PS. You can also shoot us an email if you'd rather share your feelings privately.
Send an email to hoi@haveachef.com!
{% endautoescape %}
