{% autoescape off %}
Howdy {{ meal.guest.get_full_name }}!

We would love to know how your meal went? Want to tell us about it?

Head to {% url 'post_guest_review' token=kitchen_review.token kitchen_slug=meal.kitchen.slug %} and fill in a simple form.

This would help others considering eating there and the cook to know how he is handling everything.

Thanks!

canalcook.com Team,

PS. You can also shoot us an email if you'd rather share your feelings privately.
Send an email to <a href="reviews@canalcook.com.">reviews@canalcook.com</a>.
{% endautoescape %}
