{% extends "base.html" %}

{% block title %}Internal Server Error - canalcook.com{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 class="narda-orange">Internal Server Error</h3>
    <p>
We have already been notified and we are probably fixing it. Maybe you can try starting over, from the <a href="/">home page</a>? Or perhaps you want to get in touch with us by <a href="mailto:info@canalcook.com">mail</a>.
{% endif %}
    <br/>
    <br/>
    </p>
  </div>
</div>
{% endblock %}
