{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Narda{% endblock %}</title>

{% if debug %}
    <script src="{% static "jquery/jquery-1.10.2.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery/jquery-ui.js" %}"></script>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "jquery/jquery-ui.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet"/>
{% else %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
{% endif %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/form_style.css" %}" rel="stylesheet">

</head>
<body>
    <!-- Site header and navigation -->
    <header class="top" role="header">
        <div class="container">
            <a href="/" class="navbar-brand pull-left">Narda</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <nav class="navbar-collapse collapse" role="navigation">
                <ul class="navbar-nav nav">
                    <li><a href="{% url "site_info" content="why" %}">Why Narda?</a></li>
                    <li><a href="{% url "site_info" content="how_it_works" %}">How it works</a></li>
                    <li><a href="{% url "site_info" content="faq" %}">FAQ</a></li>
                    <li><a href="mailto:info@haveachef.com">Contact</a></li>
                </ul>
                {% include "authentication.html" %}
            </nav>
        </div>
    </header>

    <!-- Site banner -->
    {% block banner %}
    <div class="banner">
        <div class="container">
            <h3>Eat home made food. For a convenient price. Meet locals at their place. <span class="narda">Meet Narda.</span></h3>
        </div>
    </div>
    {% endblock %}

    <!-- Middle content section -->
    <div class="middle">
        <div class="container">
    {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Site footer -->
    <div class="bottom">
        <div class="container">
            <div class="col-md-3 text-center">
                <h4><span class="glyphicon glyphicon-cutlery narda-orange"></span> <a href="{% url "site_info" content="why" %}" class="narda-footer">Why Narda?</a></h4>
            </div>
            <div class="col-md-3 text-center">
                <h4><span class="glyphicon glyphicon-retweet narda-orange"></span> <a href="{% url "site_info" content="how_it_works" %}" class="narda-footer">How it works</a></h4>
            </div>
            <div class="col-md-3 text-center">
                <h4><span class="glyphicon glyphicon-ok narda-orange"></span> <a href="{% url "site_info" content="faq" %}" class="narda-footer">FAQ</a></h4>
            </div>
            <div class="col-md-3 text-center">
                <h4><span class="glyphicon glyphicon-user narda-orange"></span> <a href="mailto:info@haveachef.com" class="narda-footer">Contact</a></h4>
            </div>
        </div>
    </div>

</body>
</html>
