        <img class="summary-image img-suqare img-responsive pull-right" alt="{{meal.kitchen.name}}" src="/static/pictures/kitchens/{{meal.kitchen.id}}/01.png" />
        <h3 class="narda-orange">
            {{meal.kitchen.name}}
        </h3>
        <span class="lead">{{meal.kitchen.summary}}</span>

        <h4 class="narda-orange">Menu</h4>
        <span class="lead">{{meal.kitchen.menu | escape | linebreaks}}</span>

        <h4 class="narda-orange">House Rules</h4>
        <span class="lead text-muted">{{meal.kitchen.house_rules | escape | linebreaks}}</span>
