{% load staticfiles %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body row">
                            <div class="col-md-3">
                                <a href="{% url "kitchen_detail" date=m.scheduled_for.date time=m.time kitchen_slug=m.kitchen.slug %}">
                                    <img src="/static/pictures/kitchens/{{m.kitchen.id}}/120x120/01.png" height="100" width="100"/>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <a href="{% url "kitchen_detail" date=m.scheduled_for.date time=m.time kitchen_slug=m.kitchen.slug %}">
                                        <span class="narda-orange kitchen-name">{{m.kitchen.name}}</span>
                                    </a>
                                </div>
                                <br>
                                <h4><span class="glyphicon glyphicon-map-marker narda-blue"></span> {{m.kitchen.address}}</h4>
                            </div>
                            <div class="col-md-3">
                                <h3 style="margin-top:5px">
                                <span class="glyphicon glyphicon-calendar narda-blue"></span>
                                    {{ m.scheduled_for|date:"d N" }}
                                </h3>
                                <h4>
                                    <div>{{ m.scheduled_for|date:"l" }}</div>
                                </h4>
                                <h4>
                                    <span class="glyphicon glyphicon-time narda-blue"></span>
                                    {{m.scheduled_for.time}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
