{% load staticfiles %}
    <tr>
        {% if m.guest %}
            <td>
                    <span class="glyphicon glyphicon-user narda-blue"></span>
                    {% if m.guest.first_name  %}
                        <span>{{m.guest.first_name}}</span>
                        <span>{{m.guest.last_name}}<span>
                    {% else %}
                        <span>{{m.guest.username}}<span>
                    {% endif %}
                    {% if m.number_of_guests > 1 %}
                        <div>
                          x{{m.number_of_guests}}
                        </div>
                    {% endif %}
            </td>
        {% endif %}
        <td>
            <div>
                <span class="glyphicon glyphicon-calendar narda-blue"></span>{{ m.scheduled_for|date:"d N" }} - {{ m.scheduled_for|date:"l" }}
            </div>
            <span class="glyphicon glyphicon-time narda-blue"></span>{{m.scheduled_for.time}}
        </td>
    </tr>
